@mixin text-butt($color, $size, $bigs, $padd, $bord, $back-col ){
    color:$color;
    font-size: $size;
    text-transform: $bigs;
    padding: $padd;
    border:$bord;
    background-color: $back-col;
}
@mixin pic-center($bacK-pos, $back-size, $back-rept){
    background-position: $bacK-pos;
    background-size: $back-size;
    background-repeat: $back-rept;

}
@mixin nazva-risk {
    content: '';
    width: 60px;
height: 3px;
display: block;
background-color:#f38181;
margin:  auto;
margin-top: 25px;
margin-bottom: 50px;
}
@mixin D-f-c-c {
    display: flex;
    align-items: center;
   justify-content: center;
 }
 @mixin box{
    position: absolute;
    top:-10px;
    left: -10px;
    display: none;
 }
